<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.work.dao.NoticeBoardDAO">

	<select id="noticeBoardCount" resultType="int">
		select count(*) from notice_board
	</select>
	
	<!-- 1. IDX 최대값 얻기 -->
	<select id="selectMaxIdx" resultType="int">
		select max(idx) from notice_board
	</select>
	
	<!-- 2. 1개 얻기 -->
	<select id="selectByIdx" parameterType="int" resultType="NoticeBoardVO">
		select * from notice_board where idx=#{idx}
	</select>
		
	<!-- 1페이지 얻기
	<select id="noticeList" parameterType="HashMap" resultType="NoticeBoardVO">
		SELECT q.*	FROM (SELECT rownum rnum, r.* FROM (select * from notice_board order by idx desc) r WHERE <![CDATA[ rownum <= #{endNo} ) q ]]> where <![CDATA[ rnum >= #{startNo} ]]>
	</select>
	 -->
	 
	<!-- 검색 카운트 -->
	 <select id="searchCount" resultType="int" parameterType="HashMap">
		select count(*) from notice_board
					<where>
						<if test="search_content!=null">
							<if test="search_field=='all'">
								title like '%'||#{search_content}||'%'
								or content like '%'||#{search_content}||'%'
							</if>
							<if test="search_field!='all'">
								${search_field} like '%'||#{search_content}||'%'
							</if>
						</if>
					</where>
	</select>

	<!-- 검색 페이징 -->
	<select id="noticeList" parameterType="HashMap" resultType="NoticeBoardVO">
		SELECT
			q.*	
		FROM 
			(SELECT
				rownum rnum, r.*
			FROM
				(select * from notice_board
					<where>
						<if test="search_content!=null">
							<if test="search_field=='all'">
								title like '%'||#{search_content}||'%'
								or content like '%'||#{search_content}||'%'
							</if>
							<if test="search_field!='all'">
								${search_field} like '%'||#{search_content}||'%'
							</if>
						</if>
					</where>
				order by idx desc) r
			WHERE
			<![CDATA[ rownum <= #{endNo} ) q ]]> 
		where
			<![CDATA[ rnum >= #{startNo} ]]>
	</select>
	
	<!-- 4. 저장하기 -->
	<insert id="noticeInsert" parameterType="NoticeBoardVO">
		insert into notice_board
			(idx, title, content, writer, noticeDate)
		values
			(NOTICE_BOARD_idx_seq.nextval, #{title}, #{content}, #{writer}, SYSDATE)
	</insert>
	
	<!-- 5. 수정하기 -->
	<update id="noticeUpdate" parameterType="NoticeBoardVO">
		update 
			notice_board
		set
			title = #{title}, content=#{content}, noticeDate=SYSDATE
		where
			idx=#{idx}
	</update>
	
	<!-- 6. 삭제하기 -->
	<delete id="noticeDelete" parameterType="int">
		delete from notice_board where idx=#{idx}
	</delete>

</mapper>